@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.App {
  text-align: center;
}

.feed{
  background-color: #610505; /* Replace this with your desired background color */
}
.authentication {
  background-color: #cc1b85; /* Replace this with your desired background color */
}
.App-link {
  color: #61dafb;
}
.last-post {
  margin-bottom: 13rem; /* Adjust the value as needed */
}



body {
  font-family: 'Pacifico', cursive;
    font-family: 'Quicksand';
    font-size: 22px;
}
.avatar-container {
  position: relative;
  display: inline-flex;
 
  align-items: center;
}

.avatar-image {
 /* adjust the height as per your preference */
  border-radius: 50rem;
  height: 16rem;
   width: 16rem;
   margin-left:5%;
   margin-bottom:-0.7rem;
   margin-top:-4.5rem;
   border: 0.9rem solid #A4D3FF;
}
.avatar-image:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.post-card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.small-image {
  position: absolute;
  border-radius: 50rem;
  bottom: 0;
  left: 40%;
  margin-left:22.7%;
  transform: translateX(-50%);
  width: 3.9rem; /* adjust the width of the smaller image */
  height: 3.9rem; /* adjust the height of the smaller image */

}

.container1 {
  display: flex;
  height: 84.5vh;
  position: relative;
}
.section1 {
  width: 50%;
  background-color: white;
  height: 100%; /* Adjust the height of the section */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arc {
  position: absolute;
  top: 0;
  left: 30.33%;
  width: 33.34%;
  height: 100%; /* Adjust the height of the arc */
  background: white; /* background color of arc */
  border-radius: 0 100% 100% 0;
  z-index: 2;
}

.section2 {
  width: 66.67%;
  background-color: #F2CB2E;
  height: 100%; /* Adjust the height of the section */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.image-container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}