@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.App {
  text-align: center;
}

.feed{
  background-color: #610505; /* Replace this with your desired background color */
}
.authentication {
  background-color: #cc1b85; /* Replace this with your desired background color */
}
.App-link {
  color: #61dafb;
}
.last-post {
  margin-bottom: -1rem; /* Adjust the value as needed */
}



body {
  font-family: 'Pacifico', cursive;
    font-family: 'Quicksand';
    font-size: 22px;
}
.avatar-container {
  position: relative;
  display: inline-flex;
 
  align-items: center;
}

.avatar-image {
 /* adjust the height as per your preference */
  border-radius: 50rem;
  height: 16rem;
   width: 16rem;
   margin-left:5%;
   margin-bottom:-0.7rem;
   margin-top:-4.5rem;
   border: 0.9rem solid var(--avatar-image-border-color);
}
.avatar-image:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.button {
  cursor: pointer;
  margin-top: -4rem;
  padding-bottom: 3rem;
  height: 7.6rem;
  width: 9.3rem;
  margin-left: -3rem;
  border-radius: 2rem;
  border-color: #0F52BA;
  background-color: white;
  transition: background-color 0.3s, box-shadow 0.3s; /* Add transitions for color change and box-shadow */
}

.button:hover {
  background-color: #0F52BA; /* Change the background color on hover */
  color: white; /* Change the text color on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a box-shadow for the glow effect on hover */
}


.post-card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: box-shadow 0.3s, background-color 0.3s;
}
:root {
  --small-image-border-color: black; /* Default border color */
}

.small-image {
  position: relative;
  border-radius: 50rem;
  bottom: 0;
  left: 20.5%;
  border: 3px solid var(--small-image-border-color);
  transform: translateX(-50%);
  width: 3.4rem; /* adjust the width of the smaller image */
  height: 3.4rem; /* adjust the height of the smaller image */

}

.container1 {
  display: flex;
  height: 84.5vh;
  position: relative;
}
.section1 {
  width: 50%;
  background-color: white;
  height: 100%; /* Adjust the height of the section */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arc {
  position: absolute;
  top: 0;
  left: 30.33%;
  width: 33.34%;
  height: 100%; /* Adjust the height of the arc */
  background: white; /* background color of arc */
  border-radius: 0 100% 100% 0;
  z-index: 2;
}

.section2 {
  width: 66.67%;
  background-color: #F2CB2E;
  height: 100%; /* Adjust the height of the section */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.image-container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Adjust alignment as needed */
  margin-top: 20.5rem;
  margin-bottom: -30rem;
}

.user-info {
  flex: 1; /* Adjust to control the width of the user info section */
  margin-left: 0rem; /* Add margin or adjust as needed */
  margin-top:-24rem;
}

.posts {
  flex: 2; /* Adjust to control the width of the posts section */
  margin-right: 2rem; /* Add margin or adjust as needed */
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popup button {
  margin-top: 10px;
}

.hover-button {
  cursor: pointer;
  margin-top: -4rem;
  padding-bottom: 3rem;
  height: 7.6rem;
  width: 9.3rem;
  margin-left: -3rem;
  border-radius: 2rem;
  border-color: #0F52BA;
  background-color: white;
  transition: background-color 0.3s, box-shadow 0.3s; 
}
.hover-button:hover {
  background-color: #0F52BA; /* Change the background color on hover */
  color: white; /* Change the text color on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a box-shadow for the glow effect on hover */
}

.hover-button::before {
  content: "Create a new post here!";
  position: absolute;
  bottom: 110%; /* Position the message above the button */
  left: 92.7%;
  transform: translateX(-50%);
  background-color: #0F52BA;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* Prevents the message from blocking interactions with the button */
}

.hover-button:hover::before {
  opacity: 1;
}