@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
.App {
  text-align: center;
}

.feed{
  background-color: #610505; /* Replace this with your desired background color */
}
.authentication {
  background-color: #cc1b85; /* Replace this with your desired background color */
}
.App-link {
  color: #61dafb;
}
.last-post {
  margin-bottom: 13rem; /* Adjust the value as needed */
}


body {
    font-family: 'Quicksand';
    font-size: 22px;
}